img {
  max-width: 100%;
  height: auto;
  border: none;
}
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
.clearfix:before {
  content: " ";
  clear: both;
  display: table;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.bn-row {
  width: auto;
  margin: 0 -15px;
}
.bn-row:after {
  content: " ";
  clear: both;
  display: table;
}
.bn-row:before {
  content: " ";
  clear: both;
  display: table;
}
.bn-row *[class*=bn-col-] {
  display: block;
  float: left;
}
*[class*=bn-col-] {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box !important;
  width: 100%;
}
*[class*=bn-col-] > * {
  max-width: 100%;
}
@media (min-width: 1px) {
  .bn-container {
    width: auto;
    max-width: 100%;
  }
  .bn-col-xs-1 {
    width: 8.33333333%;
  }
  .bn-col-xs-2 {
    width: 16.66666667%;
  }
  .bn-col-xs-3 {
    width: 33.33333333%;
  }
  .bn-col-xs-4 {
    width: 33.33333333%;
  }
  .bn-col-xs-5 {
    width: 41.66666667%;
  }
  .bn-col-xs-6 {
    width: 50%;
  }
  .bn-col-xs-7 {
    width: 58.33333333%;
  }
  .bn-col-xs-8 {
    width: 66.66666667%;
  }
  .bn-col-xs-9 {
    width: 75%;
  }
  .bn-col-xs-10 {
    width: 83.33333333%;
  }
  .bn-col-xs-12 {
    width: 100%;
  }
  .bn-col-xs-13 {
    width: 108.33333333%;
  }
  .bn-col-xs-14 {
    width: 116.66666667%;
  }
  .bn-col-xs-15 {
    width: 125%;
  }
  .bn-col-xs-16 {
    width: 133.33333333%;
  }
  .bn-col-xs-17 {
    width: 141.66666667%;
  }
  .bn-col-xs-18 {
    width: 150%;
  }
  .bn-col-xs-19 {
    width: 158.33333333%;
  }
  .bn-col-xs-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 768px) {
  .bn-container {
    width: 750px;
  }
  .bn-col-sm-1 {
    width: 8.33333333%;
  }
  .bn-col-sm-2 {
    width: 16.66666667%;
  }
  .bn-col-sm-3 {
    width: 33.33333333%;
  }
  .bn-col-sm-4 {
    width: 33.33333333%;
  }
  .bn-col-sm-5 {
    width: 41.66666667%;
  }
  .bn-col-sm-6 {
    width: 50%;
  }
  .bn-col-sm-7 {
    width: 58.33333333%;
  }
  .bn-col-sm-8 {
    width: 66.66666667%;
  }
  .bn-col-sm-9 {
    width: 75%;
  }
  .bn-col-sm-10 {
    width: 83.33333333%;
  }
  .bn-col-sm-12 {
    width: 100%;
  }
  .bn-col-sm-13 {
    width: 108.33333333%;
  }
  .bn-col-sm-14 {
    width: 116.66666667%;
  }
  .bn-col-sm-15 {
    width: 125%;
  }
  .bn-col-sm-16 {
    width: 133.33333333%;
  }
  .bn-col-sm-17 {
    width: 141.66666667%;
  }
  .bn-col-sm-18 {
    width: 150%;
  }
  .bn-col-sm-19 {
    width: 158.33333333%;
  }
  .bn-col-sm-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 992px) {
  .bn-container {
    width: 970px;
  }
  .bn-col-md-1 {
    width: 8.33333333%;
  }
  .bn-col-md-2 {
    width: 16.66666667%;
  }
  .bn-col-md-3 {
    width: 33.33333333%;
  }
  .bn-col-md-4 {
    width: 33.33333333%;
  }
  .bn-col-md-5 {
    width: 41.66666667%;
  }
  .bn-col-md-6 {
    width: 50%;
  }
  .bn-col-md-7 {
    width: 58.33333333%;
  }
  .bn-col-md-8 {
    width: 66.66666667%;
  }
  .bn-col-md-9 {
    width: 75%;
  }
  .bn-col-md-10 {
    width: 83.33333333%;
  }
  .bn-col-md-12 {
    width: 100%;
  }
  .bn-col-md-13 {
    width: 108.33333333%;
  }
  .bn-col-md-14 {
    width: 116.66666667%;
  }
  .bn-col-md-15 {
    width: 125%;
  }
  .bn-col-md-16 {
    width: 133.33333333%;
  }
  .bn-col-md-17 {
    width: 141.66666667%;
  }
  .bn-col-md-18 {
    width: 150%;
  }
  .bn-col-md-19 {
    width: 158.33333333%;
  }
  .bn-col-md-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 1200px) {
  .bn-container {
    width: 1170px;
  }
  .bn-col-lg-1 {
    width: 8.33333333%;
  }
  .bn-col-lg-2 {
    width: 16.66666667%;
  }
  .bn-col-lg-3 {
    width: 33.33333333%;
  }
  .bn-col-lg-4 {
    width: 33.33333333%;
  }
  .bn-col-lg-5 {
    width: 41.66666667%;
  }
  .bn-col-lg-6 {
    width: 50%;
  }
  .bn-col-lg-7 {
    width: 58.33333333%;
  }
  .bn-col-lg-8 {
    width: 66.66666667%;
  }
  .bn-col-lg-9 {
    width: 75%;
  }
  .bn-col-lg-10 {
    width: 83.33333333%;
  }
  .bn-col-lg-12 {
    width: 100%;
  }
  .bn-col-lg-13 {
    width: 108.33333333%;
  }
  .bn-col-lg-14 {
    width: 116.66666667%;
  }
  .bn-col-lg-15 {
    width: 125%;
  }
  .bn-col-lg-16 {
    width: 133.33333333%;
  }
  .bn-col-lg-17 {
    width: 141.66666667%;
  }
  .bn-col-lg-18 {
    width: 150%;
  }
  .bn-col-lg-19 {
    width: 158.33333333%;
  }
  .bn-col-lg-20 {
    width: 166.66666667%;
  }
}
.bn-container {
  padding: 0 15px;
  margin: 0 auto;
}
.bn-container.full {
  width: auto;
  min-width: auto;
  max-width: 100%;
}
.bn-container.fluid {
  width: auto;
  min-width: auto;
  max-width: 100%;
}
* [class*=bn-item-] {
  display: block;
  padding: 0 15px;
}
@media (min-width: 1px) {
  .bn-item-xs-1 {
    width: 8.33333333%;
  }
  .bn-item-xs-2 {
    width: 16.66666667%;
  }
  .bn-item-xs-3 {
    width: 33.33333333%;
  }
  .bn-item-xs-4 {
    width: 33.33333333%;
  }
  .bn-item-xs-5 {
    width: 41.66666667%;
  }
  .bn-item-xs-6 {
    width: 50%;
  }
  .bn-item-xs-7 {
    width: 58.33333333%;
  }
  .bn-item-xs-8 {
    width: 66.66666667%;
  }
  .bn-item-xs-9 {
    width: 75%;
  }
  .bn-item-xs-10 {
    width: 83.33333333%;
  }
  .bn-item-xs-12 {
    width: 100%;
  }
  .bn-item-xs-13 {
    width: 108.33333333%;
  }
  .bn-item-xs-14 {
    width: 116.66666667%;
  }
  .bn-item-xs-15 {
    width: 125%;
  }
  .bn-item-xs-16 {
    width: 133.33333333%;
  }
  .bn-item-xs-17 {
    width: 141.66666667%;
  }
  .bn-item-xs-18 {
    width: 150%;
  }
  .bn-item-xs-19 {
    width: 158.33333333%;
  }
  .bn-item-xs-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 768px) {
  .bn-item-sm-1 {
    width: 8.33333333%;
  }
  .bn-item-sm-2 {
    width: 16.66666667%;
  }
  .bn-item-sm-3 {
    width: 33.33333333%;
  }
  .bn-item-sm-4 {
    width: 33.33333333%;
  }
  .bn-item-sm-5 {
    width: 41.66666667%;
  }
  .bn-item-sm-6 {
    width: 50%;
  }
  .bn-item-sm-7 {
    width: 58.33333333%;
  }
  .bn-item-sm-8 {
    width: 66.66666667%;
  }
  .bn-item-sm-9 {
    width: 75%;
  }
  .bn-item-sm-10 {
    width: 83.33333333%;
  }
  .bn-item-sm-12 {
    width: 100%;
  }
  .bn-item-sm-13 {
    width: 108.33333333%;
  }
  .bn-item-sm-14 {
    width: 116.66666667%;
  }
  .bn-item-sm-15 {
    width: 125%;
  }
  .bn-item-sm-16 {
    width: 133.33333333%;
  }
  .bn-item-sm-17 {
    width: 141.66666667%;
  }
  .bn-item-sm-18 {
    width: 150%;
  }
  .bn-item-sm-19 {
    width: 158.33333333%;
  }
  .bn-item-sm-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 992px) {
  .bn-item-md-1 {
    width: 8.33333333%;
  }
  .bn-item-md-2 {
    width: 16.66666667%;
  }
  .bn-item-md-3 {
    width: 33.33333333%;
  }
  .bn-item-md-4 {
    width: 33.33333333%;
  }
  .bn-item-md-5 {
    width: 41.66666667%;
  }
  .bn-item-md-6 {
    width: 50%;
  }
  .bn-item-md-7 {
    width: 58.33333333%;
  }
  .bn-item-md-8 {
    width: 66.66666667%;
  }
  .bn-item-md-9 {
    width: 75%;
  }
  .bn-item-md-10 {
    width: 83.33333333%;
  }
  .bn-item-md-12 {
    width: 100%;
  }
  .bn-item-md-13 {
    width: 108.33333333%;
  }
  .bn-item-md-14 {
    width: 116.66666667%;
  }
  .bn-item-md-15 {
    width: 125%;
  }
  .bn-item-md-16 {
    width: 133.33333333%;
  }
  .bn-item-md-17 {
    width: 141.66666667%;
  }
  .bn-item-md-18 {
    width: 150%;
  }
  .bn-item-md-19 {
    width: 158.33333333%;
  }
  .bn-item-md-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 1200px) {
  .bn-item-lg-1 {
    width: 8.33333333%;
  }
  .bn-item-lg-2 {
    width: 16.66666667%;
  }
  .bn-item-lg-3 {
    width: 33.33333333%;
  }
  .bn-item-lg-4 {
    width: 33.33333333%;
  }
  .bn-item-lg-5 {
    width: 41.66666667%;
  }
  .bn-item-lg-6 {
    width: 50%;
  }
  .bn-item-lg-7 {
    width: 58.33333333%;
  }
  .bn-item-lg-8 {
    width: 66.66666667%;
  }
  .bn-item-lg-9 {
    width: 75%;
  }
  .bn-item-lg-10 {
    width: 83.33333333%;
  }
  .bn-item-lg-12 {
    width: 100%;
  }
  .bn-item-lg-13 {
    width: 108.33333333%;
  }
  .bn-item-lg-14 {
    width: 116.66666667%;
  }
  .bn-item-lg-15 {
    width: 125%;
  }
  .bn-item-lg-16 {
    width: 133.33333333%;
  }
  .bn-item-lg-17 {
    width: 141.66666667%;
  }
  .bn-item-lg-18 {
    width: 150%;
  }
  .bn-item-lg-19 {
    width: 158.33333333%;
  }
  .bn-item-lg-20 {
    width: 166.66666667%;
  }
}
/*
@media (min-width: 1px) {} 
@media (max-width: @breakpoint-xs-max) {}
@media (min-width: @breakpoint-sm) {}
@media (min-width: @breakpoint-md) {}
@media (min-width: @breakpoint-lg) {}
*/
