.show {
  display: block;
}
.hide {
  display: none;
}
.bn-interaction-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  touch-action: none;
  pointer-events: none !important;
}
.bn-shadow-inset {
  box-shadow: inset 0 0 6px rgba(80, 80, 150, 0.3);
}
.bn-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: clip !important;
  text-overflow: ellipsis !important;
  text-overflow: "…" !important;
}
@media (min-width: 1px) and (max-width: 767px) {
  .bn-hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bn-hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bn-hidden-md {
    display: none;
  }
}
@media (min-width: 1200px) {
  .bn-hidden-lg {
    display: none;
  }
}
@media (min-width: 1600px) {
  .bn-hidden-xlg {
    display: none;
  }
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
.clearfix:before {
  content: " ";
  clear: both;
  display: table;
}
.bn-row {
  width: auto;
  margin: 0 -15px;
}
.bn-row:after {
  content: " ";
  clear: both;
  display: table;
}
.bn-row:before {
  content: " ";
  clear: both;
  display: table;
}
* [class*=bn-col-] {
  display: block;
  float: left;
  padding: 0 15px;
}
@media (min-width: 1px) {
  .bn-container {
    width: auto;
    max-width: 100%;
  }
  .bn-col-xs-1 {
    width: 8.33333333%;
  }
  .bn-col-xs-2 {
    width: 16.66666667%;
  }
  .bn-col-xs-3 {
    width: 33.33333333%;
  }
  .bn-col-xs-4 {
    width: 33.33333333%;
  }
  .bn-col-xs-5 {
    width: 41.66666667%;
  }
  .bn-col-xs-6 {
    width: 50%;
  }
  .bn-col-xs-7 {
    width: 58.33333333%;
  }
  .bn-col-xs-8 {
    width: 66.66666667%;
  }
  .bn-col-xs-9 {
    width: 75%;
  }
  .bn-col-xs-10 {
    width: 83.33333333%;
  }
  .bn-col-xs-12 {
    width: 100%;
  }
  .bn-col-xs-13 {
    width: 108.33333333%;
  }
  .bn-col-xs-14 {
    width: 116.66666667%;
  }
  .bn-col-xs-15 {
    width: 125%;
  }
  .bn-col-xs-16 {
    width: 133.33333333%;
  }
  .bn-col-xs-17 {
    width: 141.66666667%;
  }
  .bn-col-xs-18 {
    width: 150%;
  }
  .bn-col-xs-19 {
    width: 158.33333333%;
  }
  .bn-col-xs-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 768px) {
  .bn-container {
    width: 750px;
  }
  .bn-col-sm-1 {
    width: 8.33333333%;
  }
  .bn-col-sm-2 {
    width: 16.66666667%;
  }
  .bn-col-sm-3 {
    width: 33.33333333%;
  }
  .bn-col-sm-4 {
    width: 33.33333333%;
  }
  .bn-col-sm-5 {
    width: 41.66666667%;
  }
  .bn-col-sm-6 {
    width: 50%;
  }
  .bn-col-sm-7 {
    width: 58.33333333%;
  }
  .bn-col-sm-8 {
    width: 66.66666667%;
  }
  .bn-col-sm-9 {
    width: 75%;
  }
  .bn-col-sm-10 {
    width: 83.33333333%;
  }
  .bn-col-sm-12 {
    width: 100%;
  }
  .bn-col-sm-13 {
    width: 108.33333333%;
  }
  .bn-col-sm-14 {
    width: 116.66666667%;
  }
  .bn-col-sm-15 {
    width: 125%;
  }
  .bn-col-sm-16 {
    width: 133.33333333%;
  }
  .bn-col-sm-17 {
    width: 141.66666667%;
  }
  .bn-col-sm-18 {
    width: 150%;
  }
  .bn-col-sm-19 {
    width: 158.33333333%;
  }
  .bn-col-sm-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 992px) {
  .bn-container {
    width: 970px;
  }
  .bn-col-md-1 {
    width: 8.33333333%;
  }
  .bn-col-md-2 {
    width: 16.66666667%;
  }
  .bn-col-md-3 {
    width: 33.33333333%;
  }
  .bn-col-md-4 {
    width: 33.33333333%;
  }
  .bn-col-md-5 {
    width: 41.66666667%;
  }
  .bn-col-md-6 {
    width: 50%;
  }
  .bn-col-md-7 {
    width: 58.33333333%;
  }
  .bn-col-md-8 {
    width: 66.66666667%;
  }
  .bn-col-md-9 {
    width: 75%;
  }
  .bn-col-md-10 {
    width: 83.33333333%;
  }
  .bn-col-md-12 {
    width: 100%;
  }
  .bn-col-md-13 {
    width: 108.33333333%;
  }
  .bn-col-md-14 {
    width: 116.66666667%;
  }
  .bn-col-md-15 {
    width: 125%;
  }
  .bn-col-md-16 {
    width: 133.33333333%;
  }
  .bn-col-md-17 {
    width: 141.66666667%;
  }
  .bn-col-md-18 {
    width: 150%;
  }
  .bn-col-md-19 {
    width: 158.33333333%;
  }
  .bn-col-md-20 {
    width: 166.66666667%;
  }
}
@media (min-width: 1200px) {
  .bn-container {
    width: 1170px;
  }
  .bn-col-lg-1 {
    width: 8.33333333%;
  }
  .bn-col-lg-2 {
    width: 16.66666667%;
  }
  .bn-col-lg-3 {
    width: 33.33333333%;
  }
  .bn-col-lg-4 {
    width: 33.33333333%;
  }
  .bn-col-lg-5 {
    width: 41.66666667%;
  }
  .bn-col-lg-6 {
    width: 50%;
  }
  .bn-col-lg-7 {
    width: 58.33333333%;
  }
  .bn-col-lg-8 {
    width: 66.66666667%;
  }
  .bn-col-lg-9 {
    width: 75%;
  }
  .bn-col-lg-10 {
    width: 83.33333333%;
  }
  .bn-col-lg-12 {
    width: 100%;
  }
  .bn-col-lg-13 {
    width: 108.33333333%;
  }
  .bn-col-lg-14 {
    width: 116.66666667%;
  }
  .bn-col-lg-15 {
    width: 125%;
  }
  .bn-col-lg-16 {
    width: 133.33333333%;
  }
  .bn-col-lg-17 {
    width: 141.66666667%;
  }
  .bn-col-lg-18 {
    width: 150%;
  }
  .bn-col-lg-19 {
    width: 158.33333333%;
  }
  .bn-col-lg-20 {
    width: 166.66666667%;
  }
}
.bn-container {
  padding: 0 15px;
  margin: 0 auto;
}
.bn-container.full {
  width: auto;
  max-width: 100%;
}
body {
  box-sizing: border-box;
  color: #222;
  font-family: sans-serif;
}
body * {
  box-sizing: border-box;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
